@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-toggle="dropdown">
                Hello @context.User.Identity.Name
            </a>

            <div class="dropdown-menu text-center bg-dark" aria-labelledby="navbarDropdown">
                <a class="text-center text-light" href="">View Profile</a> <br />
                <a class="text-center text-light" href="authentication/profile">Manage Profile</a> <br />
                <a class="text-center text-light" @onclick="BeginSignOut">Logout</a> <br />
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
