@page "/allProducts"
@attribute [Authorize]
@inject IProductsService _productsService
@inject NavigationManager NavigationManager

<h3 class="text-center">All Products</h3>

@if (products.Count() == 0)
{
    <p>Loading Products...</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var Model in products)
            {
                <div class="col-md-4">

                    <ItemsCard Model="Model" />
                </div>
            }
        </div>
    </div>
    
}


            @code {

    private List<ProductModel> products = new List<ProductModel>();

        protected override async Task OnInitializedAsync()
        {
            try
            {
                products = await _productsService.GetProductsAsync();

            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }

            }
